@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 bg-success bg-gradient text-white text-center">
    <h1 class="display-1"><strong>Pepito's Resto</strong></h1>
    <br />
    <p class="display-6"><i>El restaurante más gourmet de Buenos Aires</i></p>
</div>
<br />
<br />
<br />
<section class="about_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 class="text-center">
                <span class="design_dot"></span>
                Sobre nosotros
            </h2>
        </div>
        <br />
        <br />
        <br />

        <div class="col-md-7 mx-auto px-0">
            <div class="img-box b2">
                <img src="~/images/about-img.png" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-9 mx-auto px-0">
            <div class="detail-box">
                <br />
                <p>
                    Pepito’s Resto surgió con el objetivo de brindarle a nuestros clientes un menú único en la ciudad de Buenos Aires. 
                    Con mesas reducidas en un ambiente cálido y confortable, nos enfocamos en ofrecer una selección de platos exclusivos, 
                    los cuales vas a poder acompañar con los vinos boutique de las mejores bodegas de Mendoza.
                    ¡Vení a disfrutar de una experiencia única! 
                    <a style="color: black;" asp-area="" asp-controller="Reserva" asp-action="Index">Hacer una reserva</a>
                </p>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<!-- end about section -->
<!-- service section -->
<hr />
<br />

<section class="service_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 class="text-center">
                <span class="design_dot"></span>
                Gestión de reservas
            </h2>
            <br />

            <p class="text-center">
                Culpa nesciunt quia qui possimus eveniet dolore a debitis consectetur quod.
            </p>
            <br />
            <br />
            <br />

        </div>
    </div>
</section>
<br />
<br />
